// CSS for the Footer

footer {
    @include flexCenter(column);
    background-color: $blue;
    height: 75px;
    min-height: 75px;
    box-shadow: $boxShadow;

    .footerText {
        font-weight: bolder;
        color: $white;
		text-align: center;
    }
}
