// CSS for the NavBar

nav {
    @include flexCenter(row);
    position: fixed;
    background-color: $blue;
    top: 0;
    margin: 0;
    height: 100px;
    min-height: 100px;
    width: 100%;
    padding: 15px 50px 15px 50px;
    display: flex;
    box-shadow: $boxShadow;

    & a {
        text-decoration: none;

        :hover {
            color: $green;
        }
    }
}

.title {
    font-family: $titleFont;
    color: $orange;
    text-shadow: $white 1px 1px 0px;
    font-size: 4rem;
    letter-spacing: 0.6rem;
}
