// CSS for the NavBar

nav {
    @include flexCenter(row);
    background-color: $sage;
    top: 0;
    margin: 0;
    height: 150px;
    min-height: 100px;
    width: 100%;
    padding: 15px 50px 15px 50px;
    display: flex;

    & a {
        text-decoration: none;

        :hover {
            color: $orange;
        }
    }
}

.title {
    font-family: $titleFont;
    color: $blue;
    text-shadow: $white 1px 1px 0px;
    font-size: 5rem;
    letter-spacing: 0.4rem;
}
