// CSS for the TacoRecipes section

.tacoRecipes {
    top: 0;
    margin: auto;
    width: 65vw;
    min-width: 150px;
    padding: 50px 50px 0px 50px;
    text-align: center;

    .recipesIntro {
        font-family: $bodyFont;
        font-weight: bold;
        color: $blue;
        font-size: 1.5rem;
        line-height: 25px;
        padding-bottom: 10px;
    }

    .recipesUl {
        align-self: center;
        display: grid;
        grid-template-columns: 325px 325px 325px;
        grid-column-gap: 75px;
        grid-row-gap: 25px;
        justify-content: center;
        padding-left: 0px;
        margin: 0;
    }

    .recipeLi {
        list-style-type: none;
        @include flexCenter(column);
        padding-bottom: 25px;
    }

    .recipePic {
        border-radius: 49%;
        // border: 0.6rem solid #ffffff;
        box-shadow: $boxShadow;
    }

    .recipeTitle {
        font-family: $titleFont;
        color: $aqua;
        font-size: 2rem;
        letter-spacing: 0.1rem;
        min-height: 100px;
        max-width: 250px;
        margin-bottom: 0px;
    }

    @media (max-width: 1250px) {
        .recipesUl {
            grid-template-columns: 325px 325px;
        }
    }

    @media (max-width: 770px) {
        .recipesIntro {
            font-size: 1.4rem;
        }

        .recipesUl {
            align-self: center;
            @include flexCenter(column);
        }

        .recipeLi {
            padding-bottom: 0px;
        }

        .recipeTitle {
            font-size: 1.7rem;
            min-height: 0px;
            padding-bottom: 10px;
            margin-top: 10px;
        }
    }

    @media (max-width: 380px) {
        .tacoRecipes {
            padding: 15px 15px 0px 15px;
        }
    }

    @media (max-width: 325px) {
        .recipePic {
            width: 270px;
        }
    }
}
