// CSS for the NavBar

.tacoLoco {
    // @include flexCenter(row);
    background-color: $white;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 15px 50px 15px 50px;
    display: flex;
}

.introText {
    font-family: $bodyFont;
    color: $green;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

#loco {
    font-family: $titleFont;
    color: $green;
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

li {
    list-style-type: none;
}

.name {
    font-family: $titleFont;
    color: $red;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.recipeLink {
    font-family: $bodyFont;
    color: $black;
    font-size: 1.25rem;
    text-decoration: none;
}
