// CSS Variables and Mixins

// Typography
$titleFont: 'Bangers', cursive;
$bodyFont: 'Montserrat', sans-serif;

// Main App Colors
$blue: #00538f;
$aqua: #007991;
$green: #6f8c17;
$sage: #bcd8c1;
$yellow: #e9d985;
$orange: #e09515;
$red: #891a1c;

// Other App Colors
$white: #ffffff;
$black: #000000;
$lightGray: #ced4da;
$mediumGray: #adb5bd;
$darkGray: #495057;

// Box Shadow
$boxShadow: 0 5px 25px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2);

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
