
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@300;400;600&display=swap');
@import './_variables';
@import './_nav';
@import './footer';

* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	font-size: 13px;
}

body {
	font-family: $bodyFont;
	color:  $black;
	display: flex;
	flex-direction: column;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1 auto;
}
